{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- Begin Head -->
    <head>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>JM-CAB'S</title>
        <meta name="keywords" content="car rental, Car Rental service,Car Rental,Car Rental near me,Self-drive cars Boston,Self Drive cars near me,Cheap Car Rental,Best Car Rental,Car Rental Boston Airport,
,Self Drive  airport" />
        <!-- Web Fonts -->
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
        <!-- Vendor Styles -->
        <link href="{% static  'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  "css/animate.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  "vendor/themify/themify.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  "vendor/scrollbar/scrollbar.min.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  "vendor/swiper/swiper.min.css" %}" rel="stylesheet" type="text/css"/>
        <!-- Theme Styles -->
        <link href="{% static  "css/style.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  "css/global/global.css" %}" rel="stylesheet" type="text/css"/>

        
        <!-- Favicon -->
        <link rel="icon" href="/static/img/icons.png" type="image/gif" sizes="16x16">

        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">


    </head>
    <!-- End Head -->

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <div class="s-header__navbar">
                <div class="s-header__container">
                    <div class="s-header__navbar-row">
                        <div class="s-header__navbar-row-col">
                            <!-- Logo -->
                            <div class="s-header__logo">
                                <a href="index.html" class="s-header__logo-link">
                                    <img class="s-header__logo-img s-header__logo-img-default" src="/static/img/jmcabsbw.png" alt="Megakit Logo">
                                    <img class="s-header__logo-img s-header__logo-img-shrink" src="/static/img/jmcabsbb.png" alt="Megakit Logo">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>
                        <div class="s-header__navbar-row-col">
                            <!-- Trigger -->
                            <a href="javascript:void(0);" class="s-header__trigger js__trigger">
                                <span class="s-header__trigger-icon"></span>
                                <svg x="0rem" y="0rem" width="3.125rem" height="3.125rem" viewbox="0 0 54 54">
                                    <circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                                </svg>
                            </a>
                            <!-- End Trigger -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->

            <!-- Overlay -->
            <div class="s-header-bg-overlay js__bg-overlay">
                <!-- Nav -->
                <nav class="s-header__nav js__scrollbar">
                    <div class="container-fluid">
                        <!-- Menu List -->                                
                        <!-- <ul class="list-unstyled s-header__nav-menu">
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index.html">Corporate</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_app_landing.html">App Landing</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_portfolio.html">Portfolio</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_events.html">Events</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_lawyer.html">Lawyer</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_clinic.html">Clinic</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_coming_soon.html">Coming Soon</a></li>
                        </ul>
                        <!-- End Menu -List -->

                        <!-- Menu List -->                                
                        <ul class="list-unstyled s-header__nav-menu">
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider -is-active" >About</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" >Team</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" >Services</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider">FAQ</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" >Contacts</a></li>
                        </ul>
                        <!-- End Menu List -->
                    </div>
                </nav>
                <!-- End Nav -->
                
                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--lb">
                    <li class="s-header__action-item"><a class="s-header__action-link -is-active" href="#">En</a></li>
                    <li class="s-header__action-item"><a class="s-header__action-link" href="#">Fr</a></li>
                </ul>
                <!-- End Action -->

                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--rb">
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://www.behance.net/keenthemes">
                            <i class="g-padding-r-5--xs ti-facebook"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Facebook</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://twitter.com/keenthemes">
                            <i class="g-padding-r-5--xs ti-twitter"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Twitter</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://dribbble.com/keenthemes">
                            <i class="g-padding-r-5--xs ti-dribbble"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Dribbble</span>
                        </a>
                    </li>
                </ul>
                <!-- End Action -->
            </div>
            <!-- End Overlay -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PROMO BLOCK ==========-->
        <div class="g-fullheight--md js__parallax-window" style="background: url(/static/img/personal-driver.v1.jpg) 50% 0 no-repeat fixed;">
            <div class="g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-0--md">
                <div class="g-margin-b-60--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Welcome to JM-CAB'S</p>
                    <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white g-letter-spacing--1">JM-CAB'S</h1>
                    <p class="g-font-size-18--xs g-font-size-26--md g-color--white-opacity g-margin-b-0--xs">We offers a way for you to drive first class at economy price. We are ready to accept your mobility needs with our affordable rates and convenient locations. Our extensive fleet features a large selection of top brand vehicles in a range of styles..</p>
                </div>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a id="about_us" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-bg g-radius--50 g-padding-x-45--xs"> Know more</a>
                </span>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a id="book_scroll" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Book now</a>
                </span>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->
<!-- main section -->
<section class="g-bg-color--primary-ltr" id="main_section">
     <div class="container g-padding-y-80--xs g-padding-y-125--sm">
<form id='booking_id' method="POST" role="form" class="form-horizontal" enctype="multipart/form-data"  autocomplete="off">

      <div class="g-text-center--xs g-margin-b-100--xs">
         <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Dprosses</p>
         <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">How it Works</h2>
      </div>
      <div class="col-sm-4">
         <div class="form-group">
            <h4 class="g-font-size-18--xs g-color--white">From:</h4>
            <i class="fa fa-map-marker icon_fontawsome" aria-hidden="true"></i>
            <input name="from_address" class="form-control s-form-v3__input" style="padding: 0 0 0 40px;" id="source_address" type="text">
         </div>
         <div class="form-group">
            <h4 class="g-font-size-18--xs g-color--white">Pickup Date:</h4>
            <i class="fa fa-calendar-check-o icon_dateawsome" aria-hidden="true"></i>
            <input name="pick_date" class="form-control s-form-v3__input" style="padding: 0 0 0 40px;" id="pick_date" placeholder="Pickup Date" type="text">
         </div>
      </div>
      <div class="col-sm-4">
         <div class="form-group">
            <h4 class="g-font-size-18--xs g-color--white">To:</h4>
            <i class="fa fa-map-marker icon_fontawsome" aria-hidden="true"></i>
            <input name="to_address" class="form-control s-form-v3__input" style="padding: 0 0 0 40px;" id="destinatin_addresss" type="text">
         </div>
         <div class="form-group">
            <h4 class="g-font-size-18--xs g-color--white">Seating Capcity:</h4>
            <i class="fa fa-users icon_dateawsome" aria-hidden="true"></i>
            <!--<input class="form-control s-form-v3__input" placeholder="Drop Date" style="padding: 0 0 0 40px;" type="text">-->
            <select name="seating" id="seat" class="form-control s-form-v3__input slect_padding" >
               <option class="opton_cls" value="4">4</option>
               <option class="opton_cls" value="6">6</option>
               <option class="opton_cls" value="7">7</option>
               <option class="opton_cls" value="11" >11</option>
            </select>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="form-group">
            <h4 class="g-font-size-18--xs g-color--white">Duration(DAYS):</h4>
            <i class="fa fa-sort-numeric-asc icon_dateawsome" aria-hidden="true"></i>
            <!--
               <input class="form-control s-form-v3__input" style="padding: 0 0 0 40px;" placeholder="Pickup Date" type="text">
               -->
            <select name="duration" id="duration" class="form-control s-form-v3__input slect_padding" >
               <option class="opton_cls" value="1">1</option>
               <option class="opton_cls" value="2">2</option>
               <option class="opton_cls" value="3">3</option>
               <option class="opton_cls" value="4" >4</option>
               <option class="opton_cls" value="5" >5</option>
               <option class="opton_cls" value="6" >6</option>
               <option class="opton_cls" value="7" >7</option>
            </select>
         </div>
          <div class="form-group">

         </div>
      </div>

</form>
<div class="col-sm-12">
<center ><span style="padding-top: 40px;" class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
<a onclick="show_cars()" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Book now</a>
</span>
</center>
</div>
     </div>
 </div>

</section>
        <section>

            <div id="various_car"></div>


        </section>
        <!--end main section -->
        <!--========== PAGE CONTENT ==========-->
        <!-- About -->
        <div class="container g-padding-y-80--xs g-padding-y-125--sm" id="about_section">
            <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
                <div class="col-sm-3 col-xs-6 g-hor-centered-row__col">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="/static/img/caption.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                        <img class="img-responsive" src="/static/img/image2.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 g-hor-centered-row__col">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Culture</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">About Us</h2>
                    <p class="g-font-size-18--sm">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.</p>
                </div>
            </div>

            <div class="row g-hor-centered-row--md g-row-col--5">
                <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
                        <img class="img-responsive" src="/static/img/carhireuk-promo.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="/static/img/carsss.jpeg" alt="Image">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">People Talk's</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Our Services</h2>
                    <p class="g-font-size-18--sm">In addition to providing a comprehensive car rental services we offer affordable rates and easy online booking. A price comparison can demonstrate our attractive deals on premium rental cars. Whether you are looking for a luxury car or an economic compact vehicle, we have something that will suit all of your travel needs..</p>
                </div>
            </div>
        </div>
        <!-- End About -->



        <!-- Process -->
        <div class="g-bg-color--primary-ltr">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-100--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Process</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">How it Works</h2>
                </div>
                <ul class="list-inline row g-margin-b-100--xs">
                    <!-- Process -->
                    <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">01</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">Enter</h3>
                                <p class="g-color--white-opacity"> Enter the pickup and drop location.</p>
                            </div>
                        </div>
                    </li>
                    <!-- End Process -->

                    <!-- Process -->
                    <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">02</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">Select</h3>
                                <p class="g-color--white-opacity">Choose the car which you like to enjoy.</p>
                            </div>
                        </div>
                    </li>
                    <!-- End Process -->

                    <!-- Process -->
                    <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--sm">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">03</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">Details</h3>
                                <p class="g-color--white-opacity">Enter the details.</p>
                            </div>
                        </div>
                    </li>
                    <!-- End Process -->

                    <!-- Process -->
                    <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">04</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">Release</h3>
                                <p class="g-color--white-opacity">Start your journey from your door step.</p>
                            </div>
                        </div>
                    </li>
                    <!-- End Process -->
                </ul>

                <div class="g-text-center--xs">
                    <a href="#js__scroll-to-appointment" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs">Book Now</a>
                </div>
            </div>
        </div>
        <!-- End Process -->
<!-- SHREYSAS -->
<div class="js__parallax-window" style="background: url(&quot;/static/img/1920x1080/06.jpg&quot;) 50% -374px no-repeat fixed;">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="row">
                    <div class="col-md-3 col-xs-6 g-full-width--xs g-margin-b-70--xs g-margin-b-0--lg">
                        <div class="g-text-center--xs">
                            <div class="g-margin-b-10--xs">
                                <figure class="g-display-inline-block--xs g-font-size-70--xs g-color--white js__counter">6</figure>
                                <span class="g-font-size-40--xs g-color--white">k</span>
                            </div>
                            <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                            <h4 class="g-font-size-18--xs g-color--white">Lines of Code</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 g-full-width--xs g-margin-b-70--xs g-margin-b-0--lg">
                        <div class="g-text-center--xs">
                            <figure class="g-display-block--xs g-font-size-70--xs g-color--white g-margin-b-10--xs js__counter">5</figure>
                            <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                            <h4 class="g-font-size-18--xs g-color--white">Award Winners</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 g-full-width--xs g-margin-b-70--xs g-margin-b-0--sm">
                        <div class="g-text-center--xs">
                            <figure class="g-display-block--xs g-font-size-70--xs g-color--white g-margin-b-10--xs js__counter">15</figure>
                            <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                            <h4 class="g-font-size-18--xs g-color--white">Multiple Pages</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 g-full-width--xs">
                        <div class="g-text-center--xs">
                            <div class="g-margin-b-10--xs">
                                <figure class="g-display-inline-block--xs g-font-size-70--xs g-color--white js__counter">2</figure>
                                <span class="g-font-size-40--xs g-color--white">x</span>
                            </div>
                            <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                            <h4 class="g-font-size-18--xs g-color--white">Faster Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- SHREYS END -->
        <!-- News -->
        <div class="g-bg-color--sky-light">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Blog</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1">Latest News</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                        <!-- News -->
                        <article>
                            <img class="img-responsive" src="/static/img/970x970/01.jpg" alt="Image">
                            <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">News</p>
                                <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Create Something Great.</a></h3>
                                <p>The time has come to bring those ideas and plans to life.</p>
                            </div>
                        </article>
                        <!-- End News -->
                    </div>
                    <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                        <!-- News -->
                        <article>
                            <img class="img-responsive" src="/static/img/970x970/02.jpg" alt="Image">
                            <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">News</p>
                                <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Jacks of All. Experts in All.</a></h3>
                                <p>The time has come to bring those ideas and plans to life.</p>
                            </div>
                        </article>
                        <!-- End News -->
                    </div>
                    <div class="col-sm-4">
                        <!-- News -->
                        <article>
                            <img class="img-responsive" src="/static/img/970x970/03.jpg" alt="Image">
                            <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">News</p>
                                <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Finding your Perfect Place.</a></h3>
                                <p>The time has come to bring those ideas and plans to life.</p>
                            </div>
                        </article>
                        <!-- End News -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End News -->

        <!-- Subscribe -->
        <div class="g-bg-color--dark-light">
            <div class="g-container--sm g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-margin-b-60--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Subscribe</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-letter-spacing--1 g-color--white">Join Over 1000+ People</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <form class="input-group">
                            <input type="email" class="form-control s-form-v1__input g-radius--left-50" name="email" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button type="submit" class="s-btn s-btn-icon--md s-btn-icon--white-brd s-btn--white-brd g-radius--right-50"><i class="ti-arrow-right"></i></button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe -->
        <!--========== END PAGE CONTENT ==========-->
<!-- shreyas contact us -->
<div class="g-position--relative g-bg-color--primary">
            <div class="g-container--md g-padding-y-125--xs">
                <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Contact Us</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">Get in Touch</h2>
                </div>
                <div class="row g-row-col--5 g-margin-b-80--xs">
                    <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                            <p class="g-color--white-opacity">support@keenthemes.com</p>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Address</h4>
                            <p class="g-color--white-opacity">277 Bedford Avenue, Brooklyn</p>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-headphone-alt"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Call at</h4>
                            <p class="g-color--white-opacity">+ (1) 001 389 3720</p>
                        </div>
                    </div>
                </div>
                <form class="center-block g-width-500--sm g-width-550--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class="form-control s-form-v3__input" placeholder="* Name">
                    </div>
                    <div class="row g-row-col-5 g-margin-b-50--xs">
                        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                            <input type="email" class="form-control s-form-v3__input" placeholder="* Email">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control s-form-v3__input" placeholder="* Phone">
                        </div>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v3__input" rows="5" placeholder="* Your message"></textarea>
                    </div>
                    <div class="g-text-center--xs">
                        <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Submit</button>
                    </div>
                </form>
            </div>
            <img class="s-mockup-v2" src="/static/img/mockups/pencil-01.png" alt="Mockup Image">
        </div>


        <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="text-align: center;">
        <img src="/static/img/preloader.gif" />
      </div>

    </div>
  </div>

</div>




<!--end contact us  -->   

     <!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Home</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">About</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Work</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Facebook</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Instagram</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">YouTube</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Subscribe to Our Newsletter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Privacy Policy</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">JM-CABS</h3>
                            <p class="g-color--white-opacity">. Our extensive fleet features a large selection of top brand vehicles in a range of styles...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="">
                            <img class="g-width-100--xs g-height-auto--xs" src="/static/img/jmcabsbw.png" alt="Megakit Logo">
                        </a>
                    </div>
                    <div class="col-xs-6 g-text-right--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="">JM-CABS</a> Theme Powered by: <a href="">JM-CABS.COM</a></p>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

        <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
        <!-- Vendor -->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>AIzaSyCRo8Tq2ivFzrw9h4Km8vdVVASQ1GNo3ek

        <script type="text/javascript" src="{% static  'vendor/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/jquery.migrate.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/jquery.smooth-scroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/jquery.back-to-top.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/scrollbar/jquery.scrollbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/jquery.parallax.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/swiper/swiper.jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'vendor/jquery.wow.min.js' %}"></script>
        <!-- Vendor Styles -->

        <!-- General Components and Settings -->
        <script type="text/javascript" src="{% static  'js/global.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'js/components/header-sticky.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'js/components/scrollbar.min.js' %}" ></script>
        <script type="text/javascript" src="{% static  'js/components/magnific-popup.min.js' %}" ></script>
        <script type="text/javascript" src="{% static  'js/components/swiper.min.js' %}" ></script>
        <script type="text/javascript" src="{% static  'js/components/wow.min.js' %}" ></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


        <!--========== END JAVASCRIPTS ==========-->




    </body>
<style>
.modal-dialog {
    width: 100%;
    margin: 30px auto;
}
.modal-content {
    height: 400px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.61);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #999; */
    /* border: 1px solid rgba(0,0,0,.2); */
    /* border-radius: 6px; */
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}



</style>
    <!-- End Body -->
<!-- custom script -->
<script type="text/javascript">



$(document).ready(function() {
  $('html,body').animate({
        scrollTop: $("#main_section").offset().top},1000);

});



$( "#book_scroll" ).click(function() {


    $('html,body').animate({
    scrollTop: $("#main_section").offset().top},1000);


    })


$( "#about_us" ).click(function() {


    $('html,body').animate({
    scrollTop: $("#about_section").offset().top},1000);


    })



 $(function() {
    $("#pick_date").datepicker({

     minDate: 0,
     dateFormat:"dd-mm-yy"

    });
  } );

function show_cars(){

       var from_d =$('#source_address').val()

       var to_dist =$('#destinatin_addresss').val()

       var duration=$('#duration').val()

       var pick_date=$('#pick_date').val()

       var seat=$('#seat').val()

            datastring={

                'from':from_d,
                'to':to_dist,
                'duration':duration,
                'pick':pick_date,
                'seat':seat

            }
            alert(datastring)
            $('#myModal').modal('show')
                $.ajax({
                    datatype: 'JSON',
                    url: "/show/",
                    data:JSON.stringify(datastring),
                    method: "POST",
                      success: function (data) {
                        if(data.status == 1){
                        $('#myModal').modal('hide')
                        $('#various_car').html(data.html)
                            $('html,body').animate({scrollTop: $("#various_car").offset().top},1300);


                        }
                      }
                  });

        }

function initialize() {
var options = {
  types: ['(cities)'],
  componentRestrictions: {country: "in"}
 };
    var input = document.getElementById('source_address');
    var autocomplete = new google.maps.places.Autocomplete(input,options);
}

google.maps.event.addDomListener(window, 'load', initialize);


function initialize_d() {
var options = {
  types: ['(cities)'],
  componentRestrictions: {country: "in"}
 };

    var input = document.getElementById('destinatin_addresss');
    var autocomplete = new google.maps.places.Autocomplete(input,options);
}

google.maps.event.addDomListener(window, 'load', initialize_d);
</script>
<!-- end  script -->

</html>
